* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
  background: #efefef;
}

body::before {
  content: "";
  width: 100%;
  height: 436px;
  background: #535971;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  width: 750px;
  margin: auto;
}

header {
  width: 350px;
  margin-top: 140px;
  color: #fff;
}

header h1 {
  font-family: "Staatliches", cursive;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

header p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

form {
  border-radius: 20px 20px 0px 0px;
  background: #fff;
  margin-top: 58px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  width: 622px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.fieldset-wrapper-date {
  width: 622px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.fieldset-wrapper-date legend {
  margin-bottom: 24px;
}

fieldset .fieldset-wrapper-date h2 {
  color: #535971;
  font-family: "Staatliches", cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.col-2 {
  display: flex;
  gap: 22px;
}
.col-2 > div:nth-child(1),
div:nth-child(2) {
  width: 100%;
}

.col-3 {
  display: flex;
}
.col-3 > div:nth-child(1) {
  margin-right: 32px;
  width: 300px;
}
.col-3 > div:nth-child(2) {
  width: 140px;
  margin-right: 10px;
}
.col-3 > div:nth-child(3) {
  width: 140px;
}

fieldset legend {
  font-family: "Staatliches", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #535971;
  width: 100%;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 8px;
}
.personal {
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  color: #4e4958;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-wrapper label span {
  color: #c1bccc;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.input-wrapper label span:hover {
  color: #6c6974;
}
.input-wrapper input {
  border-radius: 8px;
  height: 56px;
  padding: 0 24px;
}
footer {
  height: 160px;
  width: 750px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #535971;
  border-radius: 0px 0px 20px 20px;
}

.button {
  border: 0;
  width: 608px;
  height: 55.652px;
  border-radius: 20px;
  background: #ff5374;
  color: #fff;
}

.button:hover {
  background: #e9516f;
}
